/**
* * Symbiota Redesign - variables.css
* * Version: September 2022
* * Author: Laura Rocha Prado
* * Author URI: http://laura.rochaprado.com
* * License: GNU General Public License v2 or later
* * License URI: http://www.gnu.org/licenses/gpl-2.0.html 
*/

/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url('../../../images/layout/jonathan-borba-Ui73wdp0wok-unsplash.jpg');
  --header-bg-color: #07095650; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2rem;
  --title-font-family: 'Arial', sans-serif;
  --logo-width: 200px;
  --menu-top-bg-color: #07095650;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 4.0rem;
  --body-font-family: 'Arial', sans-serif;
  --footer-bg-color: #04063715;
  --heading-font-family: 'Arial', sans-serif;
  --link-color: #851598;
  --darkest-color: #040637;
  --medium-color: #054fb9;
  --light-color: #8babf1;
  --bright-color: #b51963;
  --max-innertext-width: 1024px;
}
