@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body{
	font-family: Arial,sans-serif;
}

fieldset{
	padding: 15px;
}
fieldset > legend{ 
	font-weight:bold; 
}

select{ 
	height: 24px;
}

#innertext{
	padding:	10px;
	background-color: #ffffff;
	margin: 0px 10px;
}

#titleDiv{
	font-weight: bold;
	font-size: 2rem;
	width: 900px;
}

#navDiv{
	clear: both;	
}


#identifierDiv img{ 
	width:10px; 
	margin-left: 5px; 
}

#labelProcFieldset{
	padding:15px;
}

.ui-widget {
	font-size: 1em;
}

#occdiv{
	width: 900px;
	resize:both;
	overflow:auto; /* something other than visible */
}

#admindiv{
	width: 795px;
}

#admindiv select{
	width: 100%;
}

#occedittabs{
	font-family: Arial,Helvetica,sans-serif;
}

#dupesDiv{
	float:left;
	margin:5px 5px;
}

#dupeMsgDiv{
	position: absolute;
	top: 78px;
	left: 615px;
	display:none;
	background-color: lightgrey;
	z-index: 10; 
	padding:15px;
	font-weight:bold;
}

#dupeMsgDiv div{
	width:170px;
	border:2px outset blue;
	background-color: white;
	padding:3px;
}

#idrefToggleDiv{
	float:left;
	margin-left:15px;
	cursor:pointer;
}

#idrefdiv{
	clear:both;
}


.fieldGroupDiv {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin-bottom: 1rem;
	input {
		margin: 0
	}
	a {
		display: flex;
	}
}

.fieldGroupDiv input,
.fieldGroupDiv select{
	font-size: 100%;
}

.fieldDiv{
	display: inline;
}


/* Field entry styles shared across all display types */
.idNameInput{
	width:	185px;
}

.idValueInput{
	width:	250px;	
}


#idRankDiv{
	float:	left;
}

#mapIconDiv{
	float:	left;
	margin-top:18px;
	cursor:	pointer;
	padding:3px;
}

#mapIconDiv img{
	border:	0px;
	width:	13px;
}

#geoLocateDiv{
	float:	left;
	margin-top:18px;
}

#geoLocateDiv img{
	width:	18px;	
}

#coordCloningDiv{
	float:	left;
	margin-left:2px;
	margin-top:16px;
}

#geoToolsDiv{
	float:	left;
	margin: 12px 2px 0px 2px;
	z-index: 10; 
}

#coordAidDiv{
	display:	none;
	clear:		both;
}

#dmsAidDiv{
	float:	left;
	padding:	15px 10px;
	background-color: var(--light-color);
	border: 1px solid var(--medium-color);
	width:	260px;
}

#utmAidDiv{
	float:	left;
	padding:	15px 10px;
	background-color: var(--light-color);
	border: 1px solid var(--medium-color);
	width:13rem;
	margin-bottom:10px;
}

#trsAidDiv{
	float:	left;
	padding:15px 10px;
	background-color: var(--light-color);
	border: 1px solid var(--medium-color);
}

#georefExtraToggleDiv{
	float:left;
	margin:15px 5px;
	cursor:pointer;
}

#georefExtraDiv{
	display:none;
	position:relative;
	clear:both;
}

#pkDiv{
	padding:3px;
	clear:both;
}

/* Button Controls */
.button {
	background-color: var(--darkest-color);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-family: var(--body-font-family);
	font-size: 100%;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.button-toggle {
	font-family: var(--body-font-family);
	font-size: 100%;
	font-weight: 600;
	background-color: transparent;
	color: var(--body-text-color);
	border-radius: 5px;
	border: 2px solid var(--darkest-color);

	&.active {
		background-color: var(--darkest-color);
		color: white;
	}
	&:hover {
		background-color: var(--medium-color);
		border: 2px solid var(--medium-color);
		color: var(--light-color);
	}
}


.icon-button {
	padding: 6px;
	border-width: 1px;
	border-style: outset;
	border-color: buttonborder;
    color: #fff;
}

.button:disabled {
	background-color: lightgray;
    color: darkgray;
    border-color: lightgray;
}

.button-danger {
	background-color: var(--danger-color, var(--darkest-color));
}

.button-primary {
	background-color: var(--darkest-color);
}

.icon-button:hover {
    background-color: var(--medium-color);
}

#bottomSubmitDiv{
	padding:10px;
}

#addButtonDiv{
	width:		450px;
	border:		1px solid black;
	background-color:	var(--light-color);
	padding:	10px;
	margin:		20px;
}

#editButtonDiv{
	margin:	15px 30px;
}

#editortd{
	vertical-align: top;
	padding-right: 1em;
}

/*Misc styling*/
.docimg { 
	border:			0px;
	width:			11px;
	margin-bottom:	2px; 
}

.editimg { 
	border:			0px;
	width:			15px;
}

img[id^="activeimg-"] {
	max-width: unset;
}

.divTable{ display: table; border: 1px solid #000000; border-collapse: collapse; margin-bottom: 2px }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group; background: #f2f2f2; border-bottom: 2px solid #444444; }
.divTableHeading, .divTableHead { color: #000000; border: 1px solid #f2f2f2; }
.divTableCell, .divTableHead { display: table-cell; border: 1px solid #AAAAAA; padding: 2px 8px; }
.divTableHead { padding: 1px 8px; }
.divTableBody { display: table-row-group;}

.imgInfo {
	vertical-align: top;
}

 /* Record Search Form */
#querydiv fieldset {
	display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

#querydiv {
    font-family: var(--body-font-family);
	line-height: 1.15;
}
#querydiv input{
	font-family: inherit;
    font-size: 100%;
    line-height: 1.15rem;
}

#querydiv button.icon-button {
    padding: 6px;
    border-width: 1px;
}
#querydiv button:hover {
	background-color: var(--medium-color);
	color: var(--light-color);
}

#querydiv button {
	background-color: var(--darkest-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: var(--body-font-family);
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
	font-size: 100%;
	border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
}

button.icon-button svg {
	fill: var(--light-color);
  }
